[submodule "vim/bundle/vim-matchit"]
    path = vim/bundle/nerdtree
      url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/dustjs"]
	path = vim/bundle/dustjs
	url = git://github.com/jimmyhchan/dustjs.vim.git
