[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "oh_my_zsh/.oh-my-zsh"]
	path = oh_my_zsh/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-colors-solarzied"]
	path = vim/bundle/vim-colors-solarzied
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/neoformat"]
	path = vim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "vim/plugged/neoformat"]
	path = vim/plugged/neoformat
	url = https://github.com/sbdchd/neoformat.git
