

# Arrow function
snippet ()
	(${1}) => {
		${0}
	}

# console log out formatted json object
snippet clj
	console.log(JSON.stringify(${1}, null, 2))${2}

# named function
flag priority = 1
snippet fun
	function ${1}(${2}) {
		${3}
	}
