

# Arrow function
snippet ()
	(${1}) => {
		${0}
	}

# console log out formatted json object
snippet clj
	console.log(JSON.stringify(${1}, null, 2))${2}

# named function
snippet fn
	function ${1}(${2}) {
		${3}
	}

# anonymous function
snippet fa
	function(${1}) {
		${2}
	}

